/* Sidebar de navigation */
.sidebar {
  width: 250px;
  background: #fff;
  border-right: 1px solid #ddd;
  padding: 2rem;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.05);
  position: relative; /* Assurez-vous que la sidebar est positionnée correctement */
}

.sidebar-header h2 {
  font-size: 1.5rem;
  color: #0099ff;
  margin-bottom: 1rem;
  font-weight: bold;
}

.sidebar-nav ul {
  list-style: none;
  padding: 0;
  flex-direction: column;
}

.sidebar-nav ul li {
  margin-bottom: 0.4rem;
}

.sidebar-nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 1.1rem;
  transition: color 0.3s ease, background-color 0.3s ease;
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.sidebar-nav ul li a:hover,
.sidebar-nav ul li a:focus {
  color: #fff;
  background-color: #007acc;
  outline: none;
}
